streamlit
instaloader
yt-dlp
moviepy
assemblyai
python-dotenv
google-generativeai
Pillow
openai-whisper
faster-whisper
pydub
fpdf2
scenedetect
supabase
openai
python-pptx
graphviz
matplotlib
pandas
plotly
extra-streamlit-components
streamlit-extras
st-theme
pyecharts
altair
ctranslate2
google-auth
google-api-python-client
requests
tqdm
pyyaml
jsonschema
pydantic
tenacity
urllib3
certifi
idna
charset-normalizer
jsonschema-specifications
referencing
rpds-py
attrs
six
python-dateutil
numpy
typing-extensions
annotated-types
sniffio
anyio
httpcore
httpx
distro
jiter
boto3
botocore
s3transfer
jmespath
docutils
pymdown-extensions
Markdown
markdown-it-py
mdurl
pygments
rich
shellingham
click>=8.0.0,<8.3.0
typer>=0.9.0
